<p><h3>You are adding image to playlist no: <a ng-href="/playlist/{{playlistId}}">{{playlistId}}</a></h3></p>
<form novalidate>
  <div class="form-group">
    <label for="imageName">Image Name</label>
    <input type="text" class="form-control" name="imageName" id="imageName" ng-model="image.name" placeholder="Image Name">
  </div>
  <div class="form-group">
    <label for="imageURL">Image URL</label>
    <input type="text" class="form-control" name="imageURL" id="imageURL" ng-model="image.url" placeholder="Image URL"></input>
  </div>
  <div class="form-group">
    <label for="imageTags">Tags</label>
    <input type="text" class="form-control" name="imageTags" id="imageTags" ng-model="image.tags" placeholder="Tags separated by comma"></input>
  </div>
  <button type="submit" class="btn btn-default" ng-click="addImage()">Submit</button>
</form>
